extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/", method="POST")
    div(class="form-group")
      input(name="lead_email", type="email", placeholder="Enter your email address", class="form-control")
      button(type="submit", class="btn btn-success") Submit
  if leads
    h1 Leads
    table(class="table table-striped")
      for lead in leads
        tr
          td
            span #{lead.email}
            | 
            a(href="/lead/" + lead.id) Details